@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Glitch&display=swap");

:root {
	/* #region COLORS*/
	--bg1: rgb(12, 8, 22);
	--bg2: rgb(20, 14, 36);
	--bg3: rgb(26, 19, 44);
	--primary-dark: rgb(13, 115, 119);
	--primary: #14ffec;
	--primary-bright: #b5ffd9;
	--seccondary-bg: #170055;
	--secondary: rgb(186, 218, 85);
	--accent: #ae00fb;
	--accent1: rgb(159, 15, 226);
	--accent2: rgb(87, 35, 207);

	--accent-op1: rgba(174, 0, 251, 0.1);
	--accent-op2: rgba(174, 0, 251, 0.2);
	--accent-op4: rgba(174, 0, 251, 0.4);
	--accent-op6: rgba(174, 0, 251, 0.6);
	--accent-op8: rgba(174, 0, 251, 0.8);

	--accent1-op1: rgba(159, 15, 226, 0.1);
	--accent1-op2: rgba(159, 15, 226, 0.2);
	--accent1-op4: rgba(159, 15, 226, 0.4);
	--accent1-op6: rgba(159, 15, 226, 0.6);
	--accent1-op8: rgba(159, 15, 226, 0.8);

	--accent2-op1: rgba(87, 35, 207, 0.1);
	--accent2-op2: rgba(87, 35, 207, 0.2);
	--accent2-op4: rgba(87, 35, 207, 0.4);
	--accent2-op6: rgba(87, 35, 207, 0.6);
	--accent2-op8: rgba(87, 35, 207, 0.8);

	--primary-op1: rgba(20, 255, 236, 0.1);
	--primary-op2: rgba(20, 255, 236, 0.2);
	--primary-op4: rgba(20, 255, 236, 0.4);
	--primary-op6: rgba(20, 255, 236, 0.6);
	--primary-op8: rgba(20, 255, 236, 0.8);

	--secondary-op1: rgba(186, 218, 85, 0.1);
	--secondary-op2: rgba(186, 218, 85, 0.2);
	--secondary-op4: rgba(186, 218, 85, 0.4);
	--secondary-op6: rgba(186, 218, 85, 0.6);
	--secondary-op8: rgba(186, 218, 85, 0.8);

	/* --secondary: #3e00ff; */
	/* --accent: #ae00fb; */
	--text0: #fff;
	--text1: #eee;
	--text2: #ddd;
	--inactive: #aaa;
	--disabled: #666;

	--glow1: rgba(255, 255, 255, 0.1);
	--glow2: rgba(255, 255, 255, 0.2);
	--glow4: rgba(255, 255, 255, 0.4);
	--glow6: rgba(255, 255, 255, 0.6);
	--glow8: rgba(255, 255, 255, 0.8);

	--shadow1: rgba(33, 33, 33, 0.1);
	--shadow2: rgba(33, 33, 33, 0.2);
	--shadow4: rgba(33, 33, 33, 0.4);
	--shadow6: rgba(33, 33, 33, 0.6);
	--shadow8: rgba(33, 33, 33, 0.8);
	/* #endregion */

	/* #region EFFECTS*/
	--transition-default: 0.2s linear;
	/* #endregion */

	/* #region FONTS*/

	--text-font: "Roboto";
	--detail-font: "Rajdhani";
	--display-font: "Rubik Glitch";

	--text-f1: var(--text-font);
	/* #endregion */

	/* #region SIZES*/
	--margin-xs: 2px;
	--margin-s: 4px;
	--margin-m: 8px;
	--margin-l: 16px;
	--margin-xl: 32px;
	--margin-xxl: 64px;
	--margin-g: 128px;
	--padding-xs: 2px;
	--padding-s: 4px;
	--padding-m: 8px;
	--padding-l: 16px;
	--padding-xl: 32px;
	--padding-xxl: 64px;
	--padding-g: 128px;
	/* #endregion */
}
