@import "sheet.css";
@import "colors.css";

:root {
	background-color: var(--bg1);
	--card-color: rgb(32, 22, 44);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--text2);
	scroll-behavior: smooth;
}

/* #region old navbar*/
#navbar {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 0px var(--padding-xxl);
	height: 64px;
	position: fixed;
	top: 0;
	z-index: 10;
	backdrop-filter: blur(2px);
}
#navbar * {
	transition: var(--transition-default);
}

#bar-leftside {
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: left;
}

#bar-center {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: center;
}

#bar-rightside {
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self: right;
}
#bar-rightside > .nav-btn {
	margin: var(--padding-s) var(--padding-s);
	padding: var(--padding-s) var(--padding-m);
}

.bar-elm {
	font-family: var(--text-font);
	font-weight: 300;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.container {
	overflow: hidden;
	grid-template-columns: auto;
}
/* #endregion */

/* #region topbar*/
.sidebar-topbar-wrapper {
	width: auto;
	height: 68px;
	padding-right: 2px;
	display: flex;
	align-items: center;
	background: linear-gradient(
		160deg,
		var(--accent) 0%,
		var(--primary) 25%,
		var(--accent) 50%,
		var(--primary) 75%,
		var(--accent) 100%
	);
	background-size: 600% 600%;

	-webkit-animation: GradientAnimation 12s ease infinite;
	-moz-animation: GradientAnimation 12s ease infinite;
	animation: GradientAnimation 12s ease infinite;

	transition: all 400ms ease;
}

.sidebar-topbar {
	background: var(--bg2);
	border: 0;
	outline: 0;
	position: relative;
	height: 64px;
	width: auto;
	display: flex;
	flex-direction: row;
	place-items: center;
	transition: transform 400ms ease;
	cursor: pointer;
}

.sidebar-topbar-wrapper .sidebar-element {
	display: none;
}
.st-elms {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.st-elmnt-wrapper {
	margin-left: var(--margin-m);
	margin-right: var(--margin-m);
	height: 52px;
	border-radius: 2px;
}
.st-elmnt {
	background-color: var(--bg2);
	height: 50px;
	min-width: 32px;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--detail-font);
	font-weight: 500;
	font-size: 16pt;
}

.st-elmnt-wrapper:hover {
	background: linear-gradient(
		160deg,
		var(--accent) 0%,
		var(--primary) 25%,
		var(--accent) 50%,
		var(--primary) 75%,
		var(--accent) 100%
	);
	background-size: 600% 600%;

	-webkit-animation: GradientAnimation 4s ease infinite;
	-moz-animation: GradientAnimation 4s ease infinite;
	animation: GradientAnimation 4s ease infinite;
}

.st-elmnt-wrapper:hover .st-elmnt {
	background-color: var(--shadow8);
}
/* #endregion */

/* #region sidebar*/
#sidebar {
	position: fixed;
	width: auto;
	height: auto;
	display: grid;
	row-gap: 16px;
	z-index: 9;
	top: 32px;
}
.sidebar-element-wrapper {
	width: 162px;
	height: 66px;
	clip-path: polygon(
		100% 0,
		100% 70%,
		85% 100%,
		0 100%,
		0 0
	);
	transform: translate3d(-96px, 0, 0);

	background: linear-gradient(
		160deg,
		var(--accent) 0%,
		var(--primary) 25%,
		var(--accent) 50%,
		var(--primary) 75%,
		var(--accent) 100%
	);
	background-size: 600% 600%;

	-webkit-animation: GradientAnimation 12s ease infinite;
	-moz-animation: GradientAnimation 12s ease infinite;
	animation: GradientAnimation 12s ease infinite;

	transition: transform 400ms ease;
}
.sidebar-element {
	background-color: var(--bg2);
	border: 0;
	outline: 0;
	position: relative;
	width: 160px;
	display: grid;
	grid-template-columns: auto 64px;
	place-items: center;
	clip-path: polygon(
		100% 0,
		100% 70%,
		85% 100%,
		0 100%,
		0 0
	);

	transition: transform 400ms ease;
	cursor: pointer;
}
.sidebar-element-wrapper:hover {
	transform: translate3d(0, 0, 0);
}
.sidebar-element-wrapper:hover > .sidebar-element {
	transform: translate3d(0, 0, 0);
}
.sidebar-element > .sidebar-label > h2 {
	font-family: var(--detail-font);
	font-weight: 500;
	text-shadow: 0px 2px 8px var(--glow6);
}
.sidebar-element > .sidebar-btn {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar-element > .sidebar-btn > i {
	font-size: 16pt;
}

.sidebar-element-wrapper .sidebar-topbar {
	display: none;
}
/* #endregion sidebar*/

/* #region fullscreen menu*/
#fullscreen-menu {
	display: none;
	backdrop-filter: blur(16px);
	position: sticky;
	top: 0;
	z-index: 10;
	background: linear-gradient(
		160deg,
		var(--accent-op4) 0%,
		var(--primary-op2) 22%,
		var(--accent-op1) 40%,
		var(--bg2) 50%,
		var(--primary-op1) 75%,
		var(--secondary-op2) 85%,
		var(--accent-op8) 100%
	);
	background-size: 600% 600%;

	-webkit-animation: GradientAnimation 12s ease infinite;
	-moz-animation: GradientAnimation 12s ease infinite;
	animation: GradientAnimation 12s ease infinite;
}
#menu {
	height: 100vh;
	display: flex;
	align-items: center;
}
#sidebar-items {
	margin-left: clamp(4rem, 20vw, 48rem);
}
#sidebar-items:hover > .sidebar-item {
	opacity: 0.3;
}
.sidebar-item {
	color: var(--text0);
	font-size: clamp(3rem, 8vw, 8rem);
	font-family: var(--detail-font);
	display: block;
	text-decoration: none;
	padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
	font-weight: 500;
	z-index: 2;
}
#sidebar-items:hover > .sidebar-item:hover {
	opacity: 1;
	background: -webkit-linear-gradient(
		var(--accent),
		var(--primary)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 2px 20px var(--primary-op4);
}
#sidebar-bg-icon {
	height: 100%;
	width: 100%;

	background-image: radial-gradient(
		rgba(255, 255, 255, 0.1) 9%,
		transparent 9%
	);

	background-position: 0% 0%;
	background-size: 12vmin 12vmin;

	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -2;

	transition: opacity 800ms ease, background-size 800ms ease,
		background-position 800ms ease, filter 800ms ease;
}
#sidebar-items:hover ~ #sidebar-bg-icon {
	background-size: 11vmin 11vmin;
	opacity: 0.5;
}

#menu[data-active-index="0"] > #sidebar-bg-icon {
	background-position: 0% -25%;
}
#menu[data-active-index="1"] > #sidebar-bg-icon {
	background-position: 0% -50%;
}
#menu[data-active-index="2"] > #sidebar-bg-icon {
	background-position: 0% -75%;
}
#menu[data-active-index="3"] > #sidebar-bg-icon {
	background-position: 0% -100%;
}

#sidebar-bg-icon2 {
	height: 100%;
	width: 100%;
	background-position: left 40%;
	background-repeat: no-repeat;
	background-size: 50% auto;
	opacity: 1;
	position: absolute;
	left: -10%;
	bottom: -16px;
	z-index: -1;

	transition: opacity 800ms ease, transform 800ms ease,
		background-position 800ms ease, filter 800ms ease;
}
#sidebar-items:hover ~ #sidebar-bg-icon2 {
	transform: scale(0.99);
	opacity: 0.7;
}

#menu[data-active-index="0"] > #sidebar-bg-icon2 {
	background-position: left 30%;
}
#menu[data-active-index="1"] > #sidebar-bg-icon2 {
	background-position: left 20%;
}
#menu[data-active-index="2"] > #sidebar-bg-icon2 {
	background-position: left 10%;
}
#menu[data-active-index="3"] > #sidebar-bg-icon2 {
	background-position: left 0%;
}
#sidebar-bg-icon2-fill {
	height: 100%;
	width: 100%;
	background-position: left 40%;
	background-repeat: no-repeat;
	background-size: 50% auto;
	opacity: 0.3;
	position: absolute;
	left: -10%;
	bottom: -16px;
	z-index: -1;

	transition: opacity 800ms ease, transform 800ms ease,
		background-position 800ms ease, filter 800ms ease;
}
#sidebar-items:hover ~ #sidebar-bg-icon2-fill {
	transform: scale(0.99);
	opacity: 0.1;
}

#menu[data-active-index="0"] > #sidebar-bg-icon2-fill {
	background-position: left 30%;
}
#menu[data-active-index="1"] > #sidebar-bg-icon2-fill {
	background-position: left 20%;
}
#menu[data-active-index="2"] > #sidebar-bg-icon2-fill {
	background-position: left 10%;
}
#menu[data-active-index="3"] > #sidebar-bg-icon2-fill {
	background-position: left 0%;
}

#sidebar-bg-icon3 {
	height: 100%;
	width: 100%;
	background-position: center 0%;
	background-repeat: no-repeat;
	background-size: 130vmax;
	opacity: 0.4;
	position: absolute;
	bottom: 0px;
	z-index: -3;

	transition: opacity 800ms ease, transform 800ms ease,
		background-position 800ms ease, filter 800ms ease;
}
#sidebar-items:hover ~ #sidebar-bg-icon3 {
	opacity: 0.3;
}

#menu[data-active-index="0"] > #sidebar-bg-icon3 {
	background-position: center 5%;
}
#menu[data-active-index="1"] > #sidebar-bg-icon3 {
	background-position: center 10%;
}
#menu[data-active-index="2"] > #sidebar-bg-icon3 {
	background-position: center 15%;
}
#menu[data-active-index="3"] > #sidebar-bg-icon3 {
	background-position: center 20%;
}
/* #endregion fullscreen menu*/

/* #region auth screen*/

#auth {
	margin: 0;
	padding: 0;
	display: none;
	position: fixed;
	z-index: 8;
	min-width: 100vw;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: var(--detail-font);
	background: var(--shadow8);
	backdrop-filter: blur(4px);
}
.auth-main {
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: var(--bg3);

	border-radius: 0;
	box-shadow: 5px 20px 50px #000;
	clip-path: polygon(
		0 0,
		90% 0,
		100% 8%,
		100% 100%,
		10% 100%,
		0 92%
	);
}
#chk {
	display: none;
}
.signup {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--bg3);
}
#auth-wrapper {
	height: auto;
	width: auto;
	padding: 2px;
	background: linear-gradient(
		160deg,
		var(--accent) 0%,
		var(--primary) 25%,
		var(--accent) 50%,
		var(--primary) 75%,
		var(--accent) 100%
	);
	background-size: 600% 600%;

	-webkit-animation: GradientAnimation 12s ease infinite;
	-moz-animation: GradientAnimation 12s ease infinite;
	animation: GradientAnimation 12s ease infinite;
	clip-path: polygon(
		0 0,
		90% 0,
		100% 8%,
		100% 100%,
		10% 100%,
		0 92%
	);
}
.auth-main label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}
.auth-main input {
	width: 60%;
	height: 20px;
	background: var(--bg3);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: var(--padding-l);
	border: 2px solid var(--accent);
	outline: none;
	color: var(--text0);
	border-radius: 4px;
}
.auth-main button {
	width: 60%;
	margin: auto;
	justify-content: center;
	display: block;
	font-size: 1em;
	font-weight: bold;
	transition: 0.2s ease-in;
	cursor: pointer;
}

.auth-main .login {
	height: 460px;
	background: var(--accent);
	border-radius: 0;
	transform: translateY(-180px);
	transition: 0.8s ease-in-out;
	clip-path: polygon(
		0 0,
		90% 0,
		100% 8%,
		100% 100%,
		10% 100%,
		0 92%
	);
}
.auth-main .login label {
	color: var(--text0);
	transform: scale(0.6);
}

#chk:checked ~ .login {
	transform: translateY(-500px);
	background: var(--bg3);
}
#chk:checked ~ .login label {
	transform: scale(1);
}

#chk:checked ~ .signup label {
	transform: scale(0.6);
}
#chk:checked ~ .signup button {
	display: none;
}

/* #endregion */

/* #region section1*/
#section1 {
	width: 100%;
	margin: 0;
	padding-bottom: var(--padding-xxl);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}
.section1-container {
	padding-top: 96px;
	padding-left: var(--padding-xxl);
	padding-right: var(--padding-xxl);
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	z-index: 1;
	display: grid;
	grid-template-columns: 260px 260px 260px 260px;
	grid-template-rows: 260px 260px;
	gap: 16px;
	justify-items: center;
	justify-self: center;
}
#section1-title {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	text-align: center;
}
#section1-title > p {
	color: var(--primary);
	font-weight: 400;
}
#nft1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
#nft2 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
#nft3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
#nft4 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
#nft5 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
#nft6 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#bg-img-right {
	display: initial;
	z-index: -1;
	position: relative;
	top: 10%;
	width: auto;
	height: 80%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: right;
}
#bg-img-left {
	display: initial;
	z-index: -2;
	position: relative;
	top: 10%;

	width: auto;
	height: 80%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: left;
}

/* #endregion section 1*/

/* #region section2*/
#section2 {
	width: 100vw;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	background-repeat: repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 8vw;
	background-color: var(--bg1);
}
#section2 > .section-container {
	background-color: var(--shadow2);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(
		rgba(12, 8, 22, 0.5),
		rgba(12, 8, 22, 0.75),
		rgba(12, 8, 22, 0.85),
		rgba(12, 8, 22, 1),
		rgba(12, 8, 22, 1)
	);
	background-position-x: center;
	background-position-y: center;
	background-size: 100%;
	transition: background-color 0.3s ease-in-out;
}
#section2 > .section-container:hover {
	background-color: transparent;
}
/* #endregion section2*/

/* #region section3*/
#section3 {
	padding-top: 32px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: bisque; */
	background-color: var(--bg2);
	min-height: 100vh;
}
#section3-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#section3-container > .clip-box-wrapper {
	margin: var(--margin-m);
}
#section3-headline {
	padding: var(--padding-xl);
	align-self: center;
	text-align: center;
}
.sec3bigfont {
	font-size: 69pt;
}
/* #endregion */

/* #region section4*/

#section4 {
	color: var(--text1);
	padding: var(--padding-xl) var(--padding-g);
	background-color: var(--bg4);
}
.section4-container {
	min-height: 100vh;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#collection-title {
	font-size: 4rem;
	font-family: var(--detail-font);
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	text-align: left;
	align-self: flex-start;
}
#collection-cards {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	max-width: 916px;
	width: calc(100% - 20px);
}
#collection-cards:hover > .card > .card-border {
	opacity: 1;
}

.card {
	background-color: rgba(255, 255, 255, 0.06);
	cursor: pointer;
	position: relative;
	height: 260px;
	width: 300px;
	border-radius: 8px;
}

.card:hover::before {
	opacity: 1;
}
.card::before,
.card > .card-border {
	position: absolute;
	content: "";
	opacity: 0;
	transition: opacity 500ms;
	border-radius: inherit;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}
.card::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(209, 110, 255, 0.1),
		transparent 40%
	);
	z-index: 3;
}
.card > .card-border {
	background: radial-gradient(
		400px circle at var(--mouse-x) var(--mouse-y),
		rgba(177, 124, 241, 0.5),
		transparent 40%
	);
	z-index: 1;
}
.card > .card-content {
	background-color: var(--card-color);
	border-radius: inherit;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	position: relative;
	margin: 1px;
	z-index: 2;
	display: grid;
	grid-template-rows: 12% 8% auto 12%;
	grid-template-columns: 100%;
	row-gap: 4px;
}

.card-content > .c-title {
	opacity: 0.9;
	padding-top: 8px;
	padding-left: 12px;
	font-size: x-large;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: var(--detail-font);
	font-weight: 700;
	text-transform: uppercase;
	z-index: 2;
	text-shadow: -2px 2px 8px rgba(0, 0, 0, 0.7);
}
.card-content > .c-owner {
	opacity: 0.8;
	padding-left: 12px;
	font-size: medium;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: center;
	font-weight: 300;
	font-family: var(--detail-font);
	text-transform: uppercase;
	z-index: 2;
	text-shadow: -2px 2px 8px rgba(0, 0, 0, 0.7);
}
.card-content > .c-owner > p {
	margin-left: 4px;
}
.c-above-img {
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	align-items: center;
	position: absolute;
	height: 258px;
	width: 298px;
	z-index: 1;
	border-radius: inherit;
	/* background: radial-gradient(
		100px circle at var(--mouse-x) var(--mouse-y),
		transparent,
		rgb(32, 22, 44)
	);
	opacity: 0.5; */
	background: radial-gradient(
		transparent,
		rgb(32, 22, 44, 0.9) 90%
	);
	opacity: 0.8;
}
.card-content > .c-img {
	overflow: hidden;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	border-radius: inherit;
	filter: brightness(0.8);
	transition: filter 600ms;
}
.card:hover .c-img {
	filter: brightness(0.9);
}

.card:hover img {
	transform: scale(1.006);
}
.card-content > .c-img > img {
	transition: all 600ms ease;
	height: auto;
	width: 300px;
}

.card-content > .c-price {
	grid-row-start: 4;
	grid-row-end: 5;
	opacity: 0.8;
	align-self: flex-end;
	justify-self: right;
	padding-bottom: 8px;
	padding-right: 12px;
	font-weight: 700;
	font-size: x-large;
	font-family: var(--detail-font);
	z-index: 2;
	text-shadow: -2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* #endregion */

/* #region footer*/
#footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: var(--padding-l) var(--padding-g);
	color: #fff;
	background: var(--bg2);
	-webkit-font-smoothing: antialiased;
}
#footer > div {
	margin: var(--margin-xl) var(--margin-m);
}
.footer-desc {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	width: 256px;
}
.footer-desc img {
	width: 256px;
}
.footer-desc .detail1 {
	font-size: medium;
}

.footer-etc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	width: auto;
	height: auto;
}
.footer-etc > a {
	text-decoration: none;
	padding: var(--padding-l);
	font-size: x-large;
}

.footer-social-icons {
	width: 220px;
	min-width: 220px;
	display: block;
	margin: 0 auto;
}
.footer-social-icons > .detail1 {
	font-size: x-large;
}
.social-icon {
	color: #fff;
}
ul.social-icons {
	margin-top: var(--margin-l);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.social-icons li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;
	width: 72px;
	background-color: var(--bg3);
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	cursor: pointer;
}
.social-icons a {
	color: #fff;
	text-decoration: none;
}
.fa-facebook {
	font-size: xx-large;

	padding: 10px 14px;
}
#fb:hover {
	background-color: #3d5b99;
}
.fa-twitter {
	font-size: xx-large;
	padding: 10px 12px;
}
#twt:hover {
	background-color: #00aced;
}
.fa-rss {
	font-size: xx-large;
	padding: 10px 14px;
}
#rss:hover {
	background-color: #eb8231;
}
.fa-youtube {
	font-size: xx-large;
	padding: 10px 14px;
}
#yt:hover {
	background-color: #e64a41;
}
.fa-linkedin {
	padding: 10px 14px;
	font-size: xx-large;
}
#lkd:hover {
	background-color: #0073a4;
}
.fa-github {
	padding: 10px 14px;
	font-size: xx-large;
}
#gth:hover {
	background-color: #5a32a3;
}

/* #endregion */

/* #region responsiveness */

/* #region section1 responsiveness*/
@media only screen and (max-width: 1233px) {
	#section1 {
		width: 100%;
		margin: 0;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
	.section1-container {
		padding-top: 96px;
		padding-left: var(--padding-xxl);
		padding-right: var(--padding-xxl);
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		z-index: 1;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		gap: 16px;
		justify-items: center;
		justify-self: center;
	}
	#section1-title {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 4;
		padding: var(--padding-xxl);
	}
	#nft1 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	#nft2 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	#nft3 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	#nft4 {
		display: none;
	}
	#nft5 {
		display: none;
	}
	#nft6 {
		display: none;
	}
}
@media only screen and (max-width: 960px) {
	#section1 {
		padding: var(--padding-l) var(--padding-l)
			var(--padding-xxl) var(--padding-l);
		background: linear-gradient(
			160deg,
			var(--accent-op4) 0%,
			var(--primary-op2) 22%,
			var(--accent-op1) 40%,
			var(--bg2) 50%,
			var(--primary-op1) 75%,
			var(--secondary-op2) 85%,
			var(--accent-op8) 100%
		);
		background-size: 600% 600%;

		-webkit-animation: GradientAnimation 12s ease infinite;
		-moz-animation: GradientAnimation 12s ease infinite;
		animation: GradientAnimation 12s ease infinite;
	}
	.section1-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	#nft4 {
		display: initial;
	}
	#nft5 {
		display: initial;
	}
	#nft6 {
		display: initial;
	}
	#bg-img-left {
		display: none;
	}
	#bg-img-right {
		display: none;
	}
	#section1 .title1 {
		font-family: var(--text-font);
		color: var(--text0);
		font-weight: 600;
		font-size: 22pt;
	}
	.nft-box {
		width: 30vw;
		height: 30vh;
	}
	.nft-img {
		height: 30vh;
		width: auto;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	.nft-img > img {
		height: auto;
		width: 30vw;
		transition: all 0.3s ease-in-out;
	}
	.nft-available {
		padding: var(--padding-m) var(--padding-xs);
		font-size: 12pt;
		z-index: 2;
	}
	.nft-info {
		display: grid;
		padding: var(--padding-l) var(--padding-m);
		row-gap: 4px;
		z-index: 3;
	}
	.nft-name {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		justify-self: left;
		font-size: large;
		padding: none;
	}
	.nft-artist {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		justify-self: left;
		font-size: large;
		padding: none;
	}
	.nft-price {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		justify-self: right;
		font-size: large;
		padding: none;
	}
}
/* #endregion section1 responsiveness*/

/* #region section2 responsiveness*/

@media only screen and (max-width: 960px) {
	.desc-box {
		height: 88px;
		width: 22vw;
	}
	.desc-box-wrapp {
		width: calc(22vw + 4px);
	}
	#section2 .desc-box .detail1-highlight2 {
		font-size: medium;
	}
	#section2 .desc-box .detail1-highlight1 {
		font-size: medium;
	}
}
@media only screen and (max-width: 780px) {
	#section2 {
		display: flex;
	}

	.desc-box {
		height: 88px;
		width: 23vw;
		padding: 4px;
	}
	.desc-box-wrapp {
		width: calc(23vw + 4px);
		margin: 4px;
	}
	.desc-box .detail1-highlight2 {
		font-size: small;
	}
	.desc-box .detail1-highlight1 {
		font-size: small;
	}
}
@media only screen and (max-width: 640px) {
	#section2 {
		display: flex;
	}
	.section-container {
		flex-direction: column;
	}

	.desc-box {
		height: 88px;
		width: 60vw;
		padding: 4px;
	}
	.desc-box-wrapp {
		width: calc(60vw + 4px);
		margin: 4px;
	}
	.desc-box .detail1-highlight2 {
		font-size: 40%;
	}
	.desc-box > * {
		font-size: 30%;
	}
}
/* #endregion */

/* #region section3 responsiveness*/
@media only screen and (max-width: 900px) {
	#section3 {
		padding-left: 64px;
	}
}
@media only screen and (max-width: 860px) {
	#hdl1 > * {
		font-size: 54pt;
	}
	#hdl2 h2,
	#hdl2 .title1-highlight2 {
		font-size: 25pt;
	}
}
@media only screen and (max-width: 640px) {
	#hdl1 > * {
		font-size: 40pt;
	}
	#hdl2 h2,
	#hdl2 .title1-highlight2 {
		font-size: 19pt;
	}
}
/* #endregion */

/* #region section4 responsiveness*/

@media only screen and (max-width: 901px) {
	.card {
		background-color: rgba(255, 255, 255, 0.06);
		cursor: pointer;
		position: relative;
		height: 216px;
		width: 250px;
		border-radius: 8px;
	}
	.c-above-img {
		height: 214px;
		width: 248px;
	}

	.card-content > .c-img > img {
		height: auto;
		width: 250px;
	}
}
@media only screen and (max-width: 801px) {
	#section4 {
		padding-left: 64px;
		padding-right: 0;
	}
}
@media only screen and (max-width: 608px) {
	#collection-title {
		font-size: 8vw;
		align-self: center;
		margin-left: 0;
	}
}
/* #endregion */

/* #endregion */
